.flex {
  display: flex;
  align-items: center;
}
.body {
  height: 100vh;
  width: 100%;

  /* Green gradient */
  background-image: linear-gradient(
    to left,
    hsl(58, 28%, 40%) 0%,
    hsl(103, 28%, 40%) 100%
  );
  background-image: -webkit-linear-gradient(
    to left,
    hsl(58, 28%, 40%) 0%,
    hsl(104, 28%, 40%) 100%
  );
  background-image: -moz-linear-gradient(
    to left,
    hsl(58, 28%, 40%) 0%,
    hsl(104, 28%, 40%) 100%
  );

  /* Red gradient */
  /* background-image: linear-gradient(to right, hsl(360, 28%, 40%) 0%, hsl(18, 28%, 40%) 100%);
  background-image: -webkit-linear-gradient(to right, hsl(360, 28%, 40%) 0%, hsl(18, 28%, 40%) 100%);
  background-image:    -moz-linear-gradient(to right, hsl(360, 28%, 40%) 0%, hsl(18, 28%, 40%) 100%); */

  /* Black solid */
  /* background-color: hsl(30, 8%, 8%); */
}

/* ================== HEADER SECTIONS ============= */
.header {
  width: 100%;
  background-image: linear-gradient(
    to left,
    hsl(58, 28%, 40%) 0%,
    hsl(103, 28%, 40%) 100%
  );
  background-image: -webkit-linear-gradient(
    to left,
    hsl(58, 28%, 40%) 0%,
    hsl(104, 28%, 40%) 100%
  );
  background-image: -moz-linear-gradient(
    to left,
    hsl(58, 28%, 40%) 0%,
    hsl(104, 28%, 40%) 100%
  );
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}
.nav_container {
  max-width: 968px;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto 10px auto;
  display: flex;
  flex-wrap: nowrap;
}
.nav_title,
.nav_list {
  justify-content: space-between;
  column-gap: 0.5rem;
  margin-left: 10px;
}
.nav_item {
  margin: 0 30px;
}
.gradient-text {
  font-family: "SpookyHunterPersonalUse";
  /* color: rgb(216, 213, 213); */
  font-size: 35px;
  /* Fallback: Set a background color. */
  background-color: rgb(255, 255, 255);

  /* Create the gradient. */
  /* background-image: linear-gradient(45deg, #9ff5db, #eb0fcd); */
  background-image: linear-gradient(65deg, #e98a1d, #d1c2cf);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.nav_link {
  font-family: "Poppins-Medium.ttf";
  color: aliceblue;
}
.nav_link:hover {
  color: #e9993d;
  transition-duration: 400ms;
}
.logo2 {
  display: none;
  width: 200px;

}
.nav_close
{
  font-size: 1.25rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}
.nav_toggle{
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.nav_title2{
  margin: 10px;
}
.title2{
  display: flex;
  justify-content: space-between;
  display: none;
}
.logo3{
  padding-top: 6px;
  width: 40px;
  display: none;
}
.box_icon{
  margin: 10px 30px;
  display: none;
}


/* ================== HOME SECTIONS ============= */
.container{
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin: 0 auto ;
  padding-top: 150px;
  
}
.swiper{
  /* height: 600px; */
  display: flex;
  
}
.swiper-wrapper{
  margin-bottom: 150px;
}
.grid{
  display: grid;
}
.home__contant{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home__image{
  height: 300px;
  margin: 0 30px 0 0;
  filter: drop-shadow(10px 4px 4px #6e316985);
}
.home__text__div{
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home__topic,.home__topic2{
  font-family: 'SpookyHunterPersonalUse';
  font-size: 70px;
  color: #fff;
  background-image: linear-gradient(65deg, #dc64ec, #f1f1f1);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.home__text,.home__text2{
  font-family: 'Poppins-Medium.ttf';
  font-size: 19px;
  color: rgb(255, 255, 255);
  height: 300px;
}
.text_buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button{
  padding: 20px;
  background-color: #d85a06;
  color: #fff;
  font-family: 'Poppins-Medium.ttf';
  border-radius: 10px;
}
.button--link{
  padding: 20px;
  color: #fff;
  font-family: 'Poppins-Medium.ttf';
}
.left_contant{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left_div{
  border-left: 2px solid rgb(255, 255, 255);
}
.desc,.desc2{
  color: #fff;
  font-family: 'Poppins-Medium.ttf';
  padding: 10px;
  cursor: pointer;
}
/* ================== SCARY SECTIONS ============= */
.scary{
  margin-top: 100px;
}
.scary_title{
  font-family: 'Halloween Morning';
  color: rgba(172, 23, 23, 0.986);
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scary_container{
  max-width: 968px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
}
.scary_category{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.scary_img{
  height: 250px;
  margin-bottom: 20px;
}
.scary_img:hover{
  margin-bottom: 5px;
  transition-duration: 0.3s;
}
.category_name{
  font-family: 'Halloween Morning';
  font-size: 25px;
  color: rgba(172, 23, 23, 0.986);
}
.category_desc,.category_desc2{
  font-family: 'Poppins-Medium.ttf';
  font-size: 15px;
  color: rgba(218, 214, 214, 0.986);
}
/* ================= Swiper Class =================== */
.pag{
  margin-top: 50px;
}
.swiper-pagination {
  position: initial ;
}

.swiper-pagination-bullet {
  width: 5px !important;
  height: 5px !important;
  background-color: #fff !important;
  opacity: 1 !important;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 0.5rem !important;
}

.swiper-pagination-bullet-active {
  width: 1.5rem !important;
  height: 5px !important;
  border-radius: 0.5rem !important;
}

/* ================ MOBILE VERSION =================== */
@media screen and (max-width: 890px) {
  .home__contant{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home__text{
    height: 150px;
    font-size: 14px;
  }
  .left_contant{
    flex-direction: row;
  }
  .home__text__div{
    padding: 30px;
    width: auto;
  }
  .swiper-wrapper{
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 770px) {
  .nav_container {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding-bottom: 10px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    top: -450px;
    opacity: 1;
    transition-duration: 600ms;
    background-image: linear-gradient(
      to top,
      hsl(58, 28%, 40%) 0%,
      hsl(103, 28%, 40%) 100%
    );
  }
  .nav_close,.nav_title2,.logo3,.box_icon {
    display: block;
  }
  .title2{
    display: flex;
  }
  .show-menu {
    top: 0px;
    transition-duration: 600ms;
  }
  .remove-menu{
    top: -450px;
    transition-duration: 600ms;
  }
  .removeX{
    display: none;
  }
  .nav_list {
    margin-top: -70px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav_item {
    padding: 10px;
    font-size: 20px;
  }
  .gradient-text {
    font-family: "HalloweenMorning";
    font-size: 60px;
  }
  .logo {
    display: none;
  }
  .logo2 {
    display: block;
    margin-top: 80px;
  }
}
@media screen and (max-width: 570px) {
  .home__image{
    height: 230px;
  }
  .home__text{
    font-size: 11px;
  }
  .home__topic{
    font-size: 34px;
    margin-bottom: 20px;
  }
  .button{
    padding: 20px;
    font-size: 12px;
  }
  .button--link{
    font-size: 12px;
  }
}