.flex {
  display: flex;
  align-items: center;
}
.body {
  height: 100vh;
  width: 100%;

  /* Green gradient */
  background-image: linear-gradient(
    to left,
    hsl(58, 28%, 40%) 0%,
    hsl(103, 28%, 40%) 100%
  );
  background-image: -webkit-linear-gradient(
    to left,
    hsl(58, 28%, 40%) 0%,
    hsl(104, 28%, 40%) 100%
  );
  background-image: -moz-linear-gradient(
    to left,
    hsl(58, 28%, 40%) 0%,
    hsl(104, 28%, 40%) 100%
  );

  /* Red gradient */
  /* background-image: linear-gradient(to right, hsl(360, 28%, 40%) 0%, hsl(18, 28%, 40%) 100%);
  background-image: -webkit-linear-gradient(to right, hsl(360, 28%, 40%) 0%, hsl(18, 28%, 40%) 100%);
  background-image:    -moz-linear-gradient(to right, hsl(360, 28%, 40%) 0%, hsl(18, 28%, 40%) 100%); */

  /* Black solid */
  /* background-color: hsl(30, 8%, 8%); */
}
.header {
  width: 100%;
  background-image: linear-gradient(
    to left,
    hsl(58, 28%, 40%) 0%,
    hsl(104, 28%, 40%) 100%
  );
  background-image: -webkit-linear-gradient(
    to left,
    hsl(58, 28%, 40%) 0%,
    hsl(104, 28%, 40%) 100%
  );
  background-image: -moz-linear-gradient(
    to left,
    hsl(58, 28%, 40%) 0%,
    hsl(104, 28%, 40%) 100%
  );
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}
.nav_container {
  max-width: 968px;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto 10px auto;
  display: flex;
  flex-wrap: nowrap;
}
.nav_title,
.nav_list {
  justify-content: space-between;
  column-gap: 0.5rem;
  margin-left: 10px;
}
.nav_item {
  margin: 0 30px;
}
.gradient-text {
  font-family: "SpookyHunterPersonalUse";
  /* color: rgb(216, 213, 213); */
  font-size: 35px;
  /* Fallback: Set a background color. */
  background-color: rgb(255, 255, 255);

  /* Create the gradient. */
  /* background-image: linear-gradient(45deg, #9ff5db, #eb0fcd); */
  background-image: linear-gradient(65deg, #e98a1d, #d1c2cf);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.nav_link {
  font-family: "Poppins-Medium.ttf";
  color: aliceblue;
}
.nav_link:hover {
  color: #e9993d;
  transition-duration: 400ms;
}
.logo2 {
  display: none;
  width: 200px;

}
.nav_close,
.nav_toggle {
  font-size: 1.25rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

/* HOME SECTIONS */
.container{
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin: 100px auto;
}
.grid{
  display: grid;
}
.home__contant{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}
.home__image{
  height: 300px;
  margin: 30px;
}
.home__text__div{
  width: 600px;
}
.home__topic,.home__topic2{
  font-family: 'SpookyHunterPersonalUse';
  font-size: 30px;
  color: #fff;
  background-image: linear-gradient(65deg, #dc64ec, #f1f1f1);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.home__text,.home__text2{
  font-family: 'Poppins-Medium.ttf';
  font-size: 14px;
  color: #fff;
}
/* Swiper Class */
.swiper-pagination {
  position: initial;
  margin-top: var(--mb-1);
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 0.5rem;
}

.swiper-pagination-bullet-active {
  width: 1.5rem;
  height: 5px;
  border-radius: 0.5rem;
}
@media screen and (max-width: 770px) {
  .nav_container {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding-bottom: 10px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    top: -450px;
    opacity: 0.8;
    transition-duration: 600ms;
    background-image: linear-gradient(
      to top,
      hsl(58, 28%, 40%) 0%,
      hsl(103, 28%, 40%) 100%
    );
  }
  .nav_toggle,.nav_close {
    display: block;
  }
  .show-menu {
    top: 0px;
    transition-duration: 600ms;
  }
  .remove-menu{
    top: -450px;
    transition-duration: 600ms;
  }
  .removeX{
    display: none;
  }
  .nav_list {
    margin-top: -70px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav_item {
    padding: 10px;
    font-size: 20px;
  }
  .gradient-text {
    font-family: "HalloweenMorning";
    font-size: 60px;
  }
  .logo {
    display: none;
  }
  .logo2 {
    display: block;
    margin-top: 80px;
  }
}
